//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// $primary: #0752b5;
$primary: #007af3;
$warning: #f9c52c;
$secondary: #7c7481;
